// header//
header {
  position: relative;
}

.header__nav {
  position: fixed;
  width: 100%;
  height: 52px;
  background-color: #212121;
  color: white;
  z-index: 1;
}

.menu {
  background-color: #212121;
  padding: 18px 70px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
}

.menu__link {
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
  @include nav_hover;
}

.menu__item {
  border-right: 2px dotted white;
  padding-right: 40px;
}

.menu__item:last-child {
  border-right: none;
}
.hamburger{
  display: none;
}

.header__sub {
  position: absolute;
  top: 52px;
  width: 100%;
  height: 87px;
  background-color: rgba($color: #000000, $alpha: 0.6)
}

.logo__image {
  max-width: 100%;
  margin-top: 16px;
}

.logo__text {
  font-weight: 100;
  font-size: 13px;
  color: #FFFFFF;
  margin-top: 9px;
}

.header__sub_text {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 19px;
}

.header__sub_phone {
  font-size: 22px;
  text-align: right;
  text-transform: uppercase;
  margin-top: 3px;
  & a{
    color:white;
    @include nav_hover;
  }
}
.header__btn {
  display: block;
  width: 162px;
  height: 46px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin:0 auto;
  margin-top: 19px;
  transition: 0.5s all;
  outline: none;
  border: none;
  @include btn_hover;
}

.header__sub_phone{
  margin-top: 10px;
  display: block;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  & a{
    color:#FFFFFF;
    @include nav_hover;
  }
}
.xs-visible{
  display: none;}